<!-- templates/blog/tag_posts.html (new file) -->
{% extends 'blog/base.html' %}

{% block title %}Posts tagged with "{{ tag.name }}" - Simple Blog{% endblock %}

{% block content %}
<h1>Posts tagged with "{{ tag.name }}"</h1>

<div class="posts-grid">
    <ul>
        {% for post in posts %}
        <li>
            <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
            {% if post.author %}
                <p class="post-meta">By <a href="{% url 'author_profile' post.author.username %}">{{ post.author.username }}</a></p>
            {% endif %}
            <p class="post-meta">Published on: {{ post.pub_date|date:"F j, Y" }}</p>
            {% if post.category %}
                <p class="post-meta">Category: {{ post.category.name }}</p>
            {% endif %}
            {% if post.tags.all %}
                <p class="post-meta">
                    Tags:
                    {% for tag in post.tags.all %}
                        <a href="{% url 'tag_posts' tag.slug %}" class="tag">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            {% if post.image %}
                <img src="{{ post.image_url }}" alt="{{ post.title }}" class="post-image">
            {% endif %}
            <div class="post-content">
                <p>{{ post.content|truncatechars:250 }}</p>
            </div>
            <a href="{% url 'post_detail' post.id %}">Read More</a>
        </li>
        {% empty %}
        <li>No posts found with this tag.</li>
        {% endfor %}
    </ul>
</div>

<!-- Pagination -->
{% if posts.has_other_pages %}
    {% include 'blog/pagination.html' with page_obj=posts %}
{% endif %}
{% endblock %}